
@media only screen and (max-width: 642px) {
	.tshirt-txt-dogum {display: none !important; }
	.tshirt-txt-isim { display: none !important; }
}
@media only screen and (min-width: 643px) {
	.tshirt-txt-dogum { display: inline-block; }
	.tshirt-txt-isim { display: inline-block; }
}
div.draft-content { padding:5px; max-width: 642px; }
.tshirt-div { width: 100%; border:1px solid gray; /*background-image: url("image/bg.png")*/ }
.tshirt-img { width: 100%; }
.tshirt-txt { color:#404040; font-family: "Tahoma, Verdana, Geneva, sans-serif"; font-weight: bold; }
     /* .tshirt-txt {display: none; } */
.tshirt-txt-dogum { font-size: 250%; position: absolute; top: 189px; left: 226px; }
.tshirt-txt-isim { font-size: 150%; width: 136px; position: absolute; top: 115px; left: 509px; /*border: 3px dotted gray;*/ transform: rotate(38deg); }
.colorbox img { max-width: 40px; border: 1px solid gray; margin-top: 3px; margin-bottom: 3px; cursor: pointer; }
.form-draft input { display: inline-block; }
.form-draft .cl4{ width: 30%; min-width: 200px; }
.form-draft .cl2{ width: 15%; min-width: 150px; }
.form-design { margin-top: 3px; margin-bottom: 3px; display: none; }
.form-design a,
.form-design a img { display: inline-block; margin-top: 4px; }
a.facebook, a.twitter, a.whatsapp {
  background-repeat: no-repeat;
  height: 46px;
  width: 101px;
  background-position: center;
  background-size: contain;
  margin-top: 4px;
}
a.facebook { background-image: url(image/social-facebook.png); }
a.twitter { background-image: url(image/social-twitter.png); }
a.whatsapp { background-image: url(image/social-whatsapp.png); }

